@import "variables.scss"; 

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em;
  background-color: $grey;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  font-weight: 400;
}

footer {
  .left {
    display: flex;
    flex-direction: column;
    margin-left: -10em;
  }

  .left {
    div {
      font-size: 0.8em;
      margin-bottom: -0.2em;
    }

    p {
      margin-top: 0.8em;
      margin-bottom: 0;
      font-size: 0.7em;
    }

    a {
      text-decoration: none;
      color: white;
    }

  }   

  .right {
    display: flex;
    justify-content: space-between;
    width: 4em;
    font-size: 1.2em;
  }

  .right a {
    color: white;
    text-decoration: none;
  }

} 