<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Hot Yoga 101</title>
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/homepage.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <% include partial/navbar.ejs %>
  <% include partial/footer.ejs %>
  <% include partial/modal.ejs %>
</head>

<body>
  <div class="intro" id="intro">
    <h1>Find out what you're made of.</h1>
    <h4>(besides water)</h4>
  </div>

  <div class="benefits">
    <% include partial/benefits_of_heat.ejs %>
  </div>

  <div class="get-started">
    <% include partial/get_started.ejs %>
  </div>

</body>
</html>

<script type="text/javascript" src="/scripts/homepage.js"></script>
<script type="text/javascript" src="/scripts/modal.js"></script>
