<head>
  <link rel="stylesheet" href="/styles/footer.css" />
</head>

<footer>
  <div class="left">
    <div>
      <a href="https://hotyoga101.ca/index.php/blog/">Blog</a> | 
      <a href="https://hotyoga101.ca/index.php/contact/">Contact</a> | 
      <a href="https://hotyoga101.ca/index.php/terms-of-use/">Terms of Use</a> | 
      <a href="https://hotyoga101.ca/index.php/privacy/">Privacy</a>
    </div>
    <p>© 2019 Copyright Hot Yoga 101 | Vancouver's Original Hot Yoga Since 1999..</p>
  </div>

  <div class="right">
    <a href="https://www.instagram.com/vancouverhotyoga101"><i class="fab fa-instagram"></i></a>
    <a href="http://twitter.com/hotyoga101"><i class="fab fa-twitter"></i></a>
      <a href="http://facebook.com/hotyoga101"><i class="fab fa-facebook-square"></i></a>
  </div>
</footer>