<head>
  <link rel="stylesheet" href="/styles/footer.css" />
</head>

<footer>
  <div class="left">
    <div>
      Blog | 
      Contact | 
      Terms of Use | 
      Privacy
    </div>
    <p>© 2019 Copyright Hot Yoga 101 | Vancouver's Original Hot Yoga Since 1999..</p>
  </div>

  <div class="right">
    <a href="https://www.instagram.com/vancouverhotyoga101"><i class="fab fa-instagram"></i></a>
    <a href="http://twitter.com/hotyoga101"><i class="fab fa-twitter"></i></a>
      <a href="http://facebook.com/hotyoga101"><i class="fab fa-facebook-square"></i></a>
  </div>
</footer>