<div class="content">
  <h2>Ready to get started?</h2>

  <a href="https://hotyoga101.ca/index.php/new-student-registration/" class="register-button">Register</a>

  <h4>Take advantage of our intro offers</h4>
  <div class="get-started-btn">
    <a href="https://hotyoga101.ca/index.php/hot-yoga-intro-offers/">Hot yoga</a>
    <a href="https://hotyoga101.ca/index.php/hot-pilates-intro-offers/">Hot pilates</a>
  </div>
</div>

<div class="image">
  <img src="/assets/group-yoga.jpg">
</div>
