<head>
  <link rel="stylesheet" href="/styles/modal.css" />
</head>

<div id="newsletterModal" class="modal modal-inactive">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Sign up to our newsletter!</h2>
      <p>Get yoga tips, class news and more!</p>
    </div>
    <div class="modal-body">
      <input type="text" placeholder="First name"></input>
      <input type="email" placeholder="Email"></input>
    </div>
    <div class="modal-footer">
      <input type="submit"></input>
    </div>
  </div>
</div>