<head>
  <link rel="stylesheet" href="/styles/navbar.css" />
</head>

<nav>
  <img src="/assets/logo.png">
  <div class="nav-items">
  <div class="dropdown">
    <a href="filler" class="hot-yoga">Hot yoga</a>
    <div class="dropdown-content">
      <a href="https://hotyoga101.ca/index.php/class-types/">Class types</a>
      <a href="https://hotyoga101.ca/index.php/new-to-bikram-yoga-vancouver/26-bikram-yoga-poses/">Poses</a>
      <a href="https://hotyoga101.ca/index.php/the-studio/">The studio</a>
    </div>
    </div>
    <a href="filler">Hot pilates</a>
    <div class="dropdown">
      <a href="filler" class="get-moving">Get moving</a>
      <div class="dropdown-content">
        <a href="https://hotyoga101.ca/index.php/new-student-registration/">New user registration</a>
        <a href="https://hotyoga101.ca/index.php/fees-promotions-packages/">Pricing</a>
        <a href="https://clients.mindbodyonline.com/classic/ws?studioid=364&stype=-7&sView=week&sLoc=2">Reserve</a>
      </div>
    </div>
  </div>

  <a class="schedule" href="https://hotyoga101.ca/index.php/schedule/"><i class="far fa-calendar-alt"></i> &nbsp; Schedule</a>
</nav>